<mat-toolbar class="mainNav" color="primary">
    <span>Currency Converter Demo</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button class="mat-focus-indicator mat-icon-button mat-button-base" (click)="toggleInfo()"><mat-icon>info</mat-icon></button>
</mat-toolbar>
<div *ngIf="infoShown" id="info-modal">
    <div>
        <p>Developed with Angular by <a href="https://github.com/j-n-f">John Ferguson</a>. Code is on <a href="https://github.com/j-n-f/currency-converter-demo">github</a>. This app uses data from the Bank of Canada; see their <a href="https://www.bankofcanada.ca/terms/">terms of use</a>.</p>
        <button mat-flat-button color="primary" (click)="toggleInfo()">close</button>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>
